@model  NinjaAdmin.Models.ViewModels.Articles.ArticlePreviewModel
<div class="b-article-preview">
    <div class="b-article-preview__photo-wrapper">
        <img src="@Model.Picture" class="b-article-preview__photo" />
    </div>
    <h3 class="b-article-preview__heading">@Model.Theme</h3>
    <p class="b-article-preview__preview">@Model.FirstSentence</p>
    <a class="b-button b-preview-button b-arrow-button" href="@Url.Action("Index", "Article", new {id = Model.Id})">
        <span class="b-button__text b-arrow-button__text b-preview-button__text">Читать далее</span>
        <span class="b-arrow-button__icon">
            @Html.Partial("Partials/Svg/Icons/ArrowIcon", null, new ViewDataDictionary { { "class", "b-arrow-button__arrow" } })
        </span>
    </a>
    <div class="b-ribbon b-article-preview__ribbon b-ribbon_article-date">
        <div class="b-article-preview-date">
            <span class="b-article-preview-date__day">@Model.Day</span>
            <span class="b-article-preview-date__month">@Model.Month</span>
        </div>
        <i class="b-ribbon__tail b-ribbon__tail_l"></i>
        <i class="b-ribbon__tail b-ribbon__tail_r"></i>
    </div>

</div>
